@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand Colors */
  --color-primary: #FF9900;
  --color-primary-dark: #FF8400;
  --color-neutral-light: #E0DCDB;
  --color-cream: #F4F1EC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-display: var(--font-island-moments);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.before\:bg-\[var\(--color-primary\)\]:before {
  content: var(--tw-content);
  background-color: var(--color-primary);
  right: -14%;
}

/* Hero Animation */
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: scaleX(0);
    opacity: 0;
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
    transform-origin: right;
  }
}

@keyframes slideOutRight {
  0% {
    transform: scaleX(1);
    transform-origin: left;
  }
  100% {
    transform: scaleX(0);
    transform-origin: left;
  }
}

.animate-slideInLeft {
  animation: slideInLeft 1.2s ease-out forwards;
}

.animate-slideInLeftDelayed {
  animation: slideInLeft 1.2s ease-out forwards;
  will-change: transform, opacity;
  transform: translate3d(0, 0, 0);
}

.animate-slideInRight {
  animation: slideInRight 1.2s ease-out forwards;
}

@keyframes slideUpFromBottom {
  0% {
    clip-path: inset(100% 0 0 0);
    opacity: 0;
  }
  100% {
    clip-path: inset(0% 0 0 0);
    opacity: 1;
  }
}

@keyframes moveToPosition {
  0% {
    transform: translateY(-400px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUpFromBottom {
  animation: slideUpFromBottom 1s ease-out forwards;
}

@keyframes growLeftToRight {
  0% {
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
    opacity: 1;
  }
}

.animate-slideOutRight {
  animation: slideOutRight 1.5s ease-out 0.5s forwards;
}

.animate-growLeftToRight {
  animation: growLeftToRight 1.2s ease-out forwards;
}

.animate-moveToPosition {
  animation: moveToPosition 1.5s ease-out forwards;
}

/* Mobile Menu Animation */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

/* Footer Social Icons Styles */
.footer-social-icons::before {
  right: -30% !important;
}

.footer-social-icons {
  width: 82%;
}
